# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

#Vector db
qdrant_mm_db/
qdrant_mm_db_2/
qdrant_mm_db_3/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
LamaIndex_Multimodel_venv

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# log files
*.log

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytest
__pycache__/
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python Installer
pyinstaller/
